.stats { grid-area: a; }
.maltclass { grid-area: b; }
.hopclass { grid-area: c; }
.adjclass { grid-area: d; }
.yeastclass { grid-area: e; }
.mashclass { grid-area: f; }
.styleclass {grid-area: g; }
.header {grid-area: h; }


.grid-container {
	display: grid;
	grid-template-areas:
		'h h'
		'a g'
		'b f'
		'c d'
		'e e';
	grid-gap: 10px;
	background-color: #2196F3;
	padding: 10px;
}

/* Mobile Users*/
@media (max-width: 500px) { 
	.grid-container {
		display: grid;
		grid-template-areas:
			'h'
			'a'
			'g'
			'b'
			'c'
			'd'
			'e'
			'f';
	grid-gap: 10px;
	background-color: #2196F3;
	padding: 10px;
	}
}
.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: left;
	padding: 10px 0;
	font-size: 20px;
}

