body {
  font-family: sans-serif;
  background: #34495e;
  border-radius: 24px;
  transition: 0.25s;
  text-align: left;
}
p {
  width: 150px;
  background: #3498db;
  margin: 20px auto;
  text-align: left;
  padding: 14px 10px;
  border: 2px solid;
  border-radius: 24px;
}
hello {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    height: 50px;
    background-color: lightgrey;
}

p:hover {
  background: #ff0000;
}
